<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.dentalslice.nginx</string>

    <key>ProgramArguments</key>
    <array>
        <string>${NGINX_BIN}</string>
        <string>-g</string>
        <string>daemon off;</string>
        <string>-c</string>
        <string>/opt/homebrew/etc/nginx/nginx.conf</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>${LOG_DIR}/dentalslice_nginx.log</string>

    <key>StandardErrorPath</key>
    <string>${LOG_DIR}/dentalslice_nginx_error.log</string>
</dict>
</plist>
